body{
    background: linear-gradient(rgb(100,50,50), rgb(80,20,20)) no-repeat;
    color: white;
    text-align: center;
}

img{
    margin: 1%;
}

.article{
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    color: black;
}

.text-article{
    display:none;
    width:100%;
}

.show-text:hover{
    color:white;
}

